absl-py
astunparse
cachetools
certifi
cffi
chardet
click
Flask
gast
gevent
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
numpy==1.21.0
oauthlib==3.1.1
opt-einsum==3.3.0
Pillow==8.3.1
protobuf==3.18.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyYAML==5.4.1
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.7.2
scipy==1.7.0
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
urllib3
Werkzeug
wincertstore
wrapt
zope.event
zope.interface
gevent
gunicorn
Keras
Keras-Preprocessing
